/* Define CSS variables for light and dark mode colors */
:root {
	--table-border-color: #ddd;
	--table-header-background-dark: #333;
	--table-header-color-dark: white;
	--table-header-background-light: #cfcece;
	--table-row-background-dark: #333;
	--table-row-color-dark: white;
	--table-row-background-light: none
	--table-row-color-light: #333;
}

/* Set the table width and border-collapse for both modes */
.markdown-dark-table,
.markdown-light-table {
	border-collapse: collapse;
	width: 80%;
}

/* Set the table cell border and padding for both modes */
.markdown-dark-table th,
.markdown-dark-table td,
.markdown-light-table th,
.markdown-light-table td {
	border: 1px solid var(--table-border-color);
	padding: 8px;
}

/* Set the table header background and color for dark mode */
.markdown-dark-table th {
	background-color: var(--table-header-background-dark);
	color: var(--table-header-color-dark);
}

/* Set the table header background and color for light mode */
.markdown-light-table th {
	background-color: var(--table-header-background-light);
	color: #333;
}

/* Set the table row background and text color for dark mode */
.markdown-dark-table tr:nth-child(even) {
	background-color: var(--table-row-background-light); /* Updated to light gray */
	color: var(--table-row-color-dark);
}

/* Set the table row background and text color for light mode */
.markdown-light-table tr:nth-child(even) {
	background-color: var(--table-row-background-light);
	color: var(--table-row-color-light);
}
