#notification {
  transition: max-height 2s ease-out;
  max-height: 0px;
  overflow: hidden;
}
.notification-info {
  position: relative;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 0;
  line-height: 1.8;
  font-family: sans-serif;
  font-weight: 400;
  justify-content: center;
  border-bottom: 4px solid #dfe7fb;
  background-color: #1a2b6b;
  color: #fff;
}

.notification-info a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline !important;
}

.notification-text {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

#notification-close {
  float: right;
  padding-top: 5px;
  font-size: 10px;
  cursor: hand;
  cursor: pointer;
}
