---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const docs = await getCollection("docs");

  return docs?.map((doc) => ({
    params: { slug: doc.slug },
    props: { doc },
  }));
}

const { doc } = Astro.props;

const { Content } = await doc.render();
---

<MainLayout>
  <div class="bg-map-light sub-container bg-no-repeat bg-[length:100%_auto]">
    <div
      class="backdrop-blur-sm min-h-[90dvh] pb-20 py-20 flex flex-col gap-16"
    >
      <article
        class="prose max-w-full dark:prose-headings:text-foreground prose-a:text-primary text-foreground"
      >
        <Content />
      </article>
    </div>
  </div>
</MainLayout>
