---
import Logo from "../logo";
---

<div class="flex gap-1 items-center">
  <Logo
    className="w-[120px] md:w-[145px] h-[25px] md:h-[30px] mt-[-5px]"
    client:load
  />
  <span class="font-clash font-bold text-3xl md:text-4xl uppercase">Docs</span>
</div>
