---
import Logo from "../logo.astro";
---

<div class="flex gap-2 items-center">
  <Logo className="w-[120px] md:w-[145px] h-[25px] md:h-[30px] md:mt-[-5px]" />
  <span class="font-clash hidden md:block font-bold text-4xl uppercase"
    >Docs</span
  >
</div>
