---
import "@/styles/global.css";
import { getCollection } from "astro:content";
import {
  generateNavigation,
  hiddenNav,
  permanentNav,
  type Navigation,
} from "../../utils/generateNavigation";
import Logo from "./logo.astro";

const docs = await getCollection("docs");
const nav = generateNavigation(docs);

const getUrl = (nav: Navigation) => {
  if (nav?.href) {
    return nav.href;
  }

  if (nav?.children?.[0]) return getUrl(nav?.children?.[0]);
};
---

<header class="border-b bg-background-neutral sticky top-0 z-[11]">
  <nav class="flex container w-full justify-between py-5">
    <a href="/" class="flex items-center">
      <Logo />
    </a>
    <div
      class="flex items-center tracking-wide gap-14 text-sm font-clash font-medium uppercase"
    >
      {
        nav
          ?.filter(
            (item) =>
              !permanentNav?.includes(item.currentSlug || item.title) &&
              !hiddenNav?.includes(item.currentSlug || item.title),
          )
          .map((item) => {
            const url = getUrl(item);
            return (
              <a href={`/${url}/`} class="hover:text-primary transition-all">
                {item.title}
              </a>
            );
          })
      }
      <div id="search">
        <div class="ais-SearchBox">
          <form
            action=""
            role="search"
            class="ais-SearchBox-form"
            novalidate=""
          >
            <input
              class="ais-SearchBox-input"
              type="search"
              placeholder=""
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              maxlength="512"
            /><button
              class="ais-SearchBox-submit"
              type="submit"
              title="Submit the search query."
              ><svg
                class="ais-SearchBox-submitIcon"
                width="10"
                height="10"
                viewBox="0 0 40 40"
                aria-hidden="true"
                ><path
                  d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z"
                ></path></svg
              ></button
            ><button
              class="ais-SearchBox-reset"
              type="reset"
              title="Clear the search query."
              hidden=""
              ><svg
                class="ais-SearchBox-resetIcon"
                viewBox="0 0 20 20"
                width="10"
                height="10"
                aria-hidden="true"
                ><path
                  d="M8.114 10L.944 2.83 0 1.885 1.886 0l.943.943L10 8.113l7.17-7.17.944-.943L20 1.886l-.943.943-7.17 7.17 7.17 7.17.943.944L18.114 20l-.943-.943-7.17-7.17-7.17 7.17-.944.943L0 18.114l.943-.943L8.113 10z"
                ></path></svg
              ></button
            ><span class="ais-SearchBox-loadingIndicator" hidden=""
              ><svg
                class="ais-SearchBox-loadingIcon"
                width="16"
                height="16"
                viewBox="0 0 38 38"
                stroke="#444"
                aria-hidden="true"
                ><g fill="none" fill-rule="evenodd"
                  ><g transform="translate(1 1)" stroke-width="2"
                    ><circle stroke-opacity=".5" cx="18" cy="18" r="18"
                    ></circle><path d="M36 18c0-9.94-8.06-18-18-18"
                      ><animateTransform
                        attributeName="transform"
                        type="rotate"
                        from="0 18 18"
                        to="360 18 18"
                        dur="1s"
                        repeatCount="indefinite"></animateTransform></path
                    ></g
                  ></g
                ></svg
              ></span
            >
          </form>
        </div>
      </div>

      <a
        href="https://github.com/axelarnetwork/axelar-docs"
        aria-label="Axelar on GitHub"
      >
        <svg
          fill="currentColor"
          stroke="currentColor"
          style="vertical-align: middle;"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          ><path
            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
          ></path></svg
        >
      </a>
    </div>
  </nav>
</header>
