---
const title = "Interchain Tokens and the Interchain Token Service";

const cards = [
  {
    title: "Create a new Interchain Token",
    description:
      "Register and create new Interchain Token(s) using the Interchain Token Portal, or create custom Interchain Tokens.",
    url: "/dev/send-tokens/interchain-tokens/quick-start/no-code/",
  },
  {
    title: "Programmatically create a new Interchain Token",
    description: "Create new Interchain Tokens using code.",
    url: "/dev/send-tokens/interchain-tokens/quick-start/programmatic/",
  },
  {
    title: "Make an existing ERC-20 token an Interchain Token",
    description:
      "Upgrade existing tokens to canonical tokens, or link tokens deployed on multiple chains into Interchain Tokens.",
    url: "/dev/send-tokens/interchain-tokens/quick-start/programmatic/#integrate-an-existing-custom-token-with-its",
  },
  {
    title: "Check out the Interchain Portal",
    description:
      "Create your own Interchain Token with one click on the Interchain Portal.",
    url: "http://interchain.axelar.dev/",
  },
];
---

<div class="grid md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 not-prose gap-6">
  {
    cards.map((card) => (
      <a
        class="border-[0.3px] font-clash px-6 flex flex-col gap-6 bg-white dark:bg-background-neutral py-5 rounded-[28px] border-border"
        href={card.url}
      >
        <div class="flex justify-between items-center">
          <h2 class="text-2xl font-medium flex-1 w-full">{card.title}</h2>

          <svg
            width="28"
            height="28"
            viewBox="0 0 28 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.0971 14.8244L13.4002 17.5217C13.2571 17.6646 13.1905 17.8349 13.2004 18.0328C13.2101 18.2306 13.2865 18.401 13.4296 18.5438C13.5724 18.687 13.7493 18.7585 13.9601 18.7585C14.171 18.7585 14.3446 18.687 14.4811 18.5438L18.1008 14.9245C18.3478 14.6775 18.4713 14.3895 18.4713 14.0605C18.4713 13.7315 18.3478 13.4435 18.1008 13.1965L14.4517 9.54777C14.3088 9.40467 14.1385 9.33311 13.9406 9.33311C13.7428 9.33311 13.5724 9.40467 13.4296 9.54777C13.2865 9.69062 13.2149 9.86746 13.2149 10.0783C13.2149 10.2894 13.2865 10.4631 13.4296 10.5993L16.0971 13.2966H9.35724C9.1408 13.2966 8.95937 13.3699 8.81296 13.5166C8.66654 13.6633 8.59334 13.845 8.59334 14.0617C8.59334 14.2784 8.66654 14.4597 8.81296 14.6056C8.95937 14.7515 9.1408 14.8244 9.35724 14.8244H16.0971ZM13.9456 27.8107C12.0443 27.8107 10.2566 27.4499 8.58264 26.7283C6.90894 26.0067 5.45294 25.0273 4.21466 23.7903C2.97638 22.5533 1.99616 21.0986 1.27402 19.4262C0.551627 17.754 0.19043 15.9671 0.19043 14.0655C0.19043 12.1641 0.551245 10.3765 1.27288 8.70251C1.99451 7.02881 2.97383 5.57281 4.21084 4.33453C5.44785 3.09625 6.90257 2.11604 8.575 1.3939C10.2472 0.6715 12.0341 0.310303 13.9357 0.310303C15.837 0.310303 17.6247 0.67112 19.2986 1.39275C20.9723 2.11438 22.4283 3.0937 23.6666 4.33071C24.9049 5.56772 25.8851 7.02244 26.6073 8.69488C27.3297 10.3671 27.6909 12.1539 27.6909 14.0555C27.6909 15.9569 27.33 17.7446 26.6084 19.4185C25.8868 21.0922 24.9075 22.5482 23.6704 23.7865C22.4334 25.0248 20.9787 26.005 19.3063 26.7271C17.6341 27.4495 15.8472 27.8107 13.9456 27.8107ZM13.9406 26.2829C17.3527 26.2829 20.2428 25.0989 22.6109 22.7308C24.979 20.3627 26.1631 17.4726 26.1631 14.0605C26.1631 10.6484 24.979 7.75833 22.6109 5.39024C20.2428 3.02215 17.3527 1.8381 13.9406 1.8381C10.5286 1.8381 7.63846 3.02215 5.27037 5.39024C2.90228 7.75833 1.71823 10.6484 1.71823 14.0605C1.71823 17.4726 2.90228 20.3627 5.27037 22.7308C7.63846 25.0989 10.5286 26.2829 13.9406 26.2829Z"
              fill="currentColor"
            />
          </svg>
        </div>
        <p class="text-sm font-medium">{card.description}</p>
      </a>
    ))
  }
</div>
