---
import WorldMap from "@/components/ui/world-map.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { proseClasses } from "@/lib/prose-classes";
import { getGithubEditUrl } from "@/scripts/github-edit";
import clsx from "clsx";
import { PenLine } from "lucide-react";
---

<MainLayout>
  <div class="bg-[#FFFFFF] dark:bg-background">
    <WorldMap className="lg:col-span-9 2xl:col-span-10 w-full flex-1 ">
      <div class="min-h-[90dvh] sub-container pb-20 py-20 flex flex-col gap-10">
        <article class={clsx(proseClasses)}>
          <slot />
        </article>
        <a
          href={getGithubEditUrl(Astro)}
          class="py-4 text-foreground hover:text-primary font-medium border-y font-clash border-border items-center flex gap-3"
        >
          <PenLine size={16} />
          <p>Edit on GitHub</p>
        </a>
      </div>
    </WorldMap>
  </div>
</MainLayout>
