---
import { getNavigation } from "./navigation.ts";

const section = Astro.url.pathname?.match(/\/([^\/]*)\//)?.[1];
const navigation = getNavigation(section);
// #TODO rewrite this more functionally
// Right now it supports 2 layers of nesting via nested ifs
// Due to limitations in Astro template syntax
---

<div class="mobile nav-header">
  <a href="/dev/intro">Developers</a>
  <a href="/node/config-node">Node Operators</a>
  <a href="/validator/setup/overview">Validators</a>
  <hr />
</div>

{
  navigation.map((section) => (
    <div>
      <div class="nav-header">{section.header}</div>
      {section.children.map((item) =>
        item.children ? (
            <span>{item.title}</span>
            <div class="group">
                <a href="/dev/send-tokens/overview">Overview</a>
                <span>Interchain Tokens</span>
                <div class="group">
                <a href="/dev/send-tokens/interchain-tokens/intro">Introduction</a>
                <a href="/dev/send-tokens/interchain-tokens/create-token">
                    Create Token
                </a>
                <a href="/dev/send-tokens/interchain-tokens/upgrade-tokens">
                    Upgrade Tokens
                </a>
                </div>
            </div>
        ) : (
          <a href={item.href}>{item.title}</a>
        )
      )}
    </div>
  ))
}
