---
const section = Astro.url.pathname?.match(/\/([^\/]*)\//)?.[1];
---

{
    section == "dev"  && (
        <div>
            <div class="nav-header">Developers</div>
            <a href="/dev/intro">Introduction</a>
            <span>Send Tokens</span>
            <div class="group">
                <a href="/dev/send-tokens/overview">Overview</a>
                <a href="/dev/send-tokens/interchain-tokens">
                    Interchain Tokens
                </a>
            </div>
            <span>General Message Passing</span>
            <div class="group">
                <a href="/dev/general-message-passing/overview">Overview</a>
                <a href="/dev/general-message-passing/local-dev">
                    Local Development
                </a>
                <a href="/dev/general-message-passing/examples">Examples</a>
                <a href="/dev/general-message-passing/gmp-messages">
                    Send Messages
                </a>
                <a href="/dev/general-message-passing/gmp-tokens-with-messages">
                    Send Messages with Tokens
                </a>
                <span>Gas Services</span>
                <div class="group">
                    <a href="/dev/general-message-passing/gas-services/intro">
                        Introduction
                    </a>
                    <a href="/dev/general-message-passing/gas-services/pay-gas">
                        Pay Gas
                    </a>
                    <a href="/dev/general-message-passing/gas-services/increase-gas">
                        Increase Gas
                    </a>
                    <a href="/dev/general-message-passing/gas-services/refund">
                        Refund
                    </a>
                </div>
                <span>Debugging</span>
                <div class="group">
                    <a href="/dev/general-message-passing/debug/error-debugging">
                        Error messages
                    </a>
                    <a href="/dev/general-message-passing/debug/debugging-your-smart-contract">
                        Smart Contract
                    </a>
                    <a href="/dev/general-message-passing/debug/fork-mainnet">
                        Forking Mainnet
                    </a>
                </div>
                <a href="/dev/general-message-passing/recovery">Recovery</a>
                <a href="/dev/general-message-passing/monitoring">Monitoring</a>
                <a href="/dev/general-message-passing/solidity-utilities">Solidity Utilities</a>
                <a href="/dev/general-message-passing/axelar-sandbox/intro">Sandbox</a>
                <a href="/dev/general-message-passing/cosmos-gmp">Cosmos GMP</a>
                <a href="/dev/general-message-passing/example-usdc-cctp">USDC CCTP</a>
            </div>
            <span>AxelarJS SDK</span>
            <div class="group">
                <a href="/dev/">Introduction</a>
                <a href="/dev/">Token Transfer via Deposit Address</a>
                <a href="/dev/">GMP transaction status and recovery</a>
                <a href="/dev/">Axelar Query API</a>
            </div>
            <span>Reference</span>
            <div class="group">
                <a href="/dev/">Mainnet Chain Names</a>
                <a href="/dev/">Mainnet Contract Addresses</a>
                <a href="/dev/">Testnet Chain Names</a>
                <a href="/dev/">Testnet Contract Addresses</a>
                <a href="/dev/">Transaction Pricing</a>
            </div>
        </div>
    )
}
{
    section == "node" && (
        <div>
            <div class="nav-header">Node Operators</div>
            <a href="/node/config-node">Node configuration</a>
            <a href="/node/join">Quick sync</a>
            <a href="/node/join-genesis">Genesis sync</a>
            <a href="/node/basic">Basic node management</a>
            <a href="/node/config-cli">CLI configuration</a>
            <a href="/node/keyring">Keyring backend</a>
        </div>
    )
}
{
    section == "learn" && (
        <div>
            <div class="nav-header">Learn</div>
        </div>
    )
}
{
    section == "validator" && (
        <div>
            <div class="nav-header">Validators</div>
        </div>
    )
}
{
    section == "resources" && (
        <div>
            <div class="nav-header">Resources</div>
        </div>
    )
}
{
    (!section) && (
        <div>
            <div class="nav-header">Docs</div>
        </div>
    )
}
<div>
    { section != "resources" && (<span>Resources</span>)
    }
    <div class="group">
        <a href="/resources/">Resources</a>
        <a href="/resources/mainnet">Mainnet</a>
        <a href="/resources/testnet">Testnet</a>
        <a href="/resources/governance/community-pool-proposals">Community Pool Proposals</a>
        <a href="/resources/satellite">Satellite</a>
        <a href="/resources/metamask">Metamask</a>
        <a href="/resources/keplr">Add Network to Keplr Wallet</a>
        <a href="/resources/wrapped-tokens">Wrap/unwrap tokens</a>
        <a href="/bug-bounty">Bug Bounty</a>
    </div>

    <span>Learn more about Axelar</span>
    <div class="group">
        <a href="/learn/network/flow">Crosschain Message Flow</a>
        <a href="/learn/axlusdc">axlUSDC</a>
        <a href="/learn/validators">Registering external chains for validators</a>
        <a href="/learn/security">Security Overview</a>

        <span>CLI</span>
        <div class="group">
            <a href="/learn/cli/">Introduction</a>
            <a href="/learn/cli/ust-to-evm">Send UST to an EVM chain</a>
            <a href="/learn/cli/ust-from-evm">Redeem UST from an EVM chain</a>
            <a href="/learn/cli/axl-to-evm">Send AXL to an EVM chain</a>
            <a href="/learn/cli/axl-from-evm">Redeem AXL from an EVM chain</a>
        </div>



</div>
