---
import MainLayout from "./MainLayout.astro";
import Navigation from "./Navigation.astro";

const { title, description, image, hidden } = Astro.props.frontmatter || Astro.props;
---

<MainLayout {...Astro.props}>
    <div id="page">
        <div class="sideNav">
            <Navigation />
        </div>
        <div class="mainBody">
            <h1>{title}</h1>
            <!-- <div style="display:flex;justify-content:space-between;">
            {# <a href="https://github.com/axelarnetwork/documentation/edit/main/{{page.inputPath}}">Suggest Edits</a> #}

        </div> -->
            <article><slot /></article>
        </div>
    </div>
</MainLayout>
