---
import { buttonCva, type variants } from "@/lib/cva/button";
import clsx from "clsx";
type Props = {
  className?: string;
  varient?: variants;
  size?: "small" | "medium";
};

const { className, varient = "primary", size = "medium" } = Astro.props;
---

<button
  class={buttonCva({
    class: clsx(" relative font-medium tracking-wide ", className),
    intent: varient,
    size,
  })}
>
  <div
    class="absolute left-0 top-0 size-[3px] rounded-full bg-black dark:bg-white"
  >
  </div>
  <div
    class="absolute left-0 bottom-0 size-[3px] rounded-full bg-black dark:bg-white"
  >
  </div>
  <div
    class="absolute right-0 top-0 size-[3px] rounded-full bg-black dark:bg-white"
  >
  </div>
  <div
    class="absolute right-0 bottom-0 size-[3px] rounded-full bg-black dark:bg-white"
  >
  </div>
  <slot />
</button>
